{{> header }}

<div class="header-container cont autoresize" id="header-container">
	<header class="header int">
		{{{ img "header-cat.png" true "cat" }}}

		<h1 class="title">We are Robocat</h1>
		<p class="tagline">Product builders from Copenhagen</p>
	</header>

	<nav class="navigation">
		<div class="navigation-inner">
			<div class="left">
				<a href="#header" class="robocat" id="nav-home">
					{{{ img "navigation-robocat-logo.png" }}}
				</a>
			</div>
			<div class="right">
				<a href="#products" id="nav-products" class="scrollbased">Products</a>
				<a href="#team" id="nav-team" class="scrollbased">Team</a>
				{{!-- <a href="//adventures.robo.cat/" id="nav-adventures">Adventures</a> --}}
				<a href="#footer" id="nav-getintouch" class="scrollbased">Get in touch</a>
				<div class="social">
					<a href="//twitter.com/robocat" id="share-tw" class="twitter" target="_blank">
					{{{ img "navigation-twitter.png" }}}
					</a>
					<a href="//facebook.com/robocatapps" id="share-fb" class="facebook" target="_blank">
						{{{ img "navigation-facebook.png" }}}
					</a>
				</div>
			</div>
		</div>
	</nav>
</div>

<div class="aboutus-container cont">
	<div class="aboutus int">
		<p>Each of our adventures are guided by a strong sense of craftsmanship and we're always trying to imbue our products with a touch of wonder. In short – we love building things.</p>
	</div>
</div>

<div class="products" id="products">
	{{#each apps.full}}
		<div class="app-container cont {{ this.class }}">
			{{#if this.video-overlay}}
				<div class="video-overlay"></div>
				<div class="video-cover"></div>
			{{else}}
				<div class="unblur"></div>
			{{/if}}
			<section class="app int {{ this.theme }}">
				<a href="{{#if this.website }}//{{ this.website }}{{else}}{{ this.download.ios }}{{/if}}" class="icon-link{{#if this.parallax}} atvImg{{/if}}">
					{{{ img this.icon }}}

					{{#if this.parallax}}
						{{#each this.parallax}}
							<div class="atvImg-layer" data-img="/images/{{this}}"></div>
						{{/each}}
					{{/if}}
				</a>
				
				<h2 class="name">{{ this.name }}</h2>
				<p class="tagline">{{ this.tagline }}</p>

				<nav>
					<ul>
						{{#if this.download.ios}}
						<li>
							<a href="{{ this.download.ios }}" class="ios button download {{ this.theme }}" title="{{ this.name }} on the App Store">Download{{#if this.download.osx}} for iOS{{/if}}</a>
						</li>
						{{/if}}
						{{#if this.download.osx}}
						<li>
							<a href="{{ this.download.osx }}" class="osx button download {{ this.theme }}" title="{{ this.name }} on the App Store">Download{{#if this.download.ios}} for Mac{{/if}}</a>
						</li>
						{{/if}}
						{{#if this.download.atv}}
						<li>
							<a class="atv button download {{ this.theme }}" title="{{ this.name }} on the Apple TV App Store">Find it on the Apple TV App Store</a>
						</li>
						{{/if}}
						{{#if this.adventure}}
							<li>
								<a href="{{ this.adventure }}" class="button adventure {{ this.theme }}" title="Read the adventure behind {{ this.name }}">Read the adventure</a>
							</li>
						{{/if}}
						{{#if this.video}}
							<li>
								<a href="{{ this.video }}" class="button adventure {{ this.theme }}" title="Read the adventure behind {{ this.name }}">Watch the video</a>
							</li>
						{{/if}}
						{{#if this.website}}
						<li>
							<a href="//{{ this.website }}" class="button website {{ this.theme }}" title="Visit the website">{{ this.website }}</a>
						</li>
						{{/if}}
					</ul>
				</nav>

				{{#if this.collaboration}}
					<a class="collab" href="{{ this.collaboration.website }}" title="{{ this.collaboration.title }}">
						{{{ img this.collaboration.image }}}
					</a>
				{{/if}}
			</section>
		</div>
	{{/each}}

	<div class="half-app-container cont {{ this.class }}">
		<section class="half-app int {{ this.theme }}">
			{{#each apps.half}}
				<div class="app light" style="background-color: {{this.background}};">
					<a href="{{#if this.website }}//{{ this.website }}{{else}}{{ this.download }}{{/if}}" class="icon-link">
						{{{ img this.icon }}}
					</a>
				
					<h2 class="name">{{ this.name }}</h2>
					<p class="tagline">{{ this.tagline }}</p>

					<nav>
						<ul>
							<li>
								<a href="{{#if this.download }}{{ this.download }}{{else}}javascript: void();{{/if}}" 
									class="button download light{{#unless this.download}} retired{{/unless}}" 
									title="{{ this.name }} on the App Store">Download</a>
							</li>
							{{#if this.adventure}}
								<li>
									<a href="{{ this.adventure }}" class="button adventure light" title="Read the adventure behind {{ this.name }}">Read the adventure</a>
								</li>
							{{/if}}
							{{#if this.website}}
							<li>
								<a href="//{{ this.website }}" class="button website light" title="Visit the website">{{ this.website }}</a>
							</li>
							{{/if}}
						</ul>
					</nav>
				</div>
			{{/each}}
		</section>
	</div>

	<div class="quarter-app-container cont {{ this.class }}">
		<section class="quarter-app int {{ this.theme }}">
			{{#each apps.quarter}}
				<div class="app" style="background-color: {{this.background}};">
					<a href="{{#if this.website }}//{{ this.website }}{{else}}{{ this.download }}{{/if}}" class="icon-link">
						{{{ img this.icon }}}
					</a>
				</div>
			{{/each}}
		</section>
	</div>
</div>

<div class="aboutus-container cont" id="team">
	<div class="aboutus int">
		<p>We're a passionate group of people striving for pixel perfection, the elegant code and the great story</p>
	</div>
</div>

<div class="team-container cont">
	<div class="team int">
		{{#each team}}
			<div class="member">
				{{{ img this.avatar }}}
				<p class="name">{{ this.name }}</p>
				<p class="role">{{ this.role }}</p>
				<nav>
					<ul>
						{{#if this.twitter}}
						<li><a class="twitter" href="//twitter.com/{{ this.twitter }}" title="{{ this.name }} on Twitter">{{ this.twitter }}</a></li>
						{{/if}}
						{{#if this.website}}
						<li><a class="website" href="//{{ this.website }}" title="{{ this.name }}'s website">{{ this.website }}</a></li>
						{{/if}}
					</ul>
				</nav>
			</div>
		{{/each}}
	</div>
</div>

<div class="newsletter-container cont">
	<div class="newsletter int">
		<p>If you want to be the first to know what weʼre up to, subscribe to our newsletter for infrequent and well crafted emails.</p>

		<form id="newsletter_form" action="signup" method="put" accept-charset="utf-8">
			<input class="email" type="email" name="email" value="" placeholder="you@your-email.com">
			<input class="submit" type="submit" name="submit" value="Sign up">
		</form>
	</div>
</div>

{{> footer }}