{{> header }}

<div class="header-container cont" id="header-container">
	<header class="header int">
		{{{ img "header-cat.png" true "cat" }}}

		<h1 class="title">We are Robocat</h1>
		<p class="tagline">Product builders from Copenhagen</p>
	</header>

	<nav class="navigation">
		<div class="sticky">
			<div class="left">
				<a href="#header" class="robocat" id="nav-home">
					{{{ img "navigation-robocat-logo.png" }}}
				</a>
			</div>
			<div class="right">
				<a href="#products" id="nav-products">Products</a>
				<a href="#team" id="nav-team">Team</a>
				<a href="//adventures.robo.cat/" id="nav-adventures">Adventures</a>
				<a href="#get-in-touch" id="nav-getintouch">Get in touch</a>
				<a href="#share" id="share-tw" class="twitter">
					{{{ img "navigation-twitter.png" }}}
				</a>
				<a href="#share" id="share-fb" class="facebook">
					{{{ img "navigation-facebook.png" }}}
				</a>
			</div>
		</div>
	</nav>
</div>

<div class="aboutus-container cont">
	<div class="aboutus int">
		<p>Each of our adventures are guided by a strong sense of craftsmanship and we're always trying to imbue our products with a sense of wonder. In short – we love building things.</p>
	</div>
</div>


<div class="products" id="products">
	{{#each apps}}
		<div class="app-container cont {{ this.class }}">
			<section class="app int {{ this.theme }}">
				<a href="//{{ this.website }}" class="icon-link">
					{{{ img this.icon }}}
				</a>
				
				<h2 class="name">{{ this.name }}</h2>
				<p class="tagline">{{ this.tagline }}</p>

				<nav>
					<ul>
						<li>
							<a href="{{ this.download }}" class="button download" title="{{ this.name }} on the App Store">Download</a>
						</li>
						{{#if this.adventure}}
							<li>
								<a href="{{ this.adventure }}" class="button adventure" title="Read the adventure behind {{ this.name }}">Read the adventure</a>
							</li>
						{{/if}}
						<li>
							<a href="//{{ this.website }}" class="button website" title="Visit the website">{{ this.website }}</a>
						</li>
					</ul>
				</nav>
			</section>
		</div>
	{{/each}}
</div>


{{> footer }}